In [2]:
import pandas as pd
import json
import os

In [3]:
os.chdir("C:/Users/hkhan/OneDrive - LMI/Desktop/Workspace/epic/all-the-news")

### Explore raw

In [20]:
df = pd.read_csv("C:/Users/hkhan/OneDrive - LMI/Desktop/Workspace/epic/all-the-news/articles2.csv")
df['date']

0        2017-01-11
1        2017-01-11
2        2017-01-11
3        2017-01-11
4        2017-01-11
5        2017-01-11
6        2017-01-11
7        2017-01-11
8        2017-01-12
9        2017-01-12
10       2017-01-12
11       2017-01-12
12       2017-01-12
13       2017-01-12
14       2017-01-12
15       2017-01-12
16       2017-01-12
17       2017-01-12
18       2017-01-12
19       2017-01-12
20       2017-01-12
21       2017-01-12
22       2017-01-12
23       2017-01-12
24       2017-01-12
25       2017-01-12
26       2017-01-12
27       2017-01-12
28       2017-01-12
29       2017-01-12
            ...
49969    2016-05-31
49970    2016-09-09
49971    2016-11-16
49972    2016-06-19
49973    2016-11-08
49974    2016-07-14
49975    2016-06-24
49976    2016-05-28
49977    2016-09-06
49978    2016-11-09
49979    2016-07-04
49980    2016-09-30
49981    2016-10-09
49982    2016-07-25
49983    2016-09-10
49984    2016-08-30
49985    2016-11-03
49986    2016-12-11
49987    2016-10-07
49988    2016-11-18
49989    2016-11-11
49990    2016-11-27
49991    2016-07-02
49992    2016-10-15
49993    2016-07-03
49994    2016-08-12
49995    2016-08-28
49996    2016-09-16
49997    2016-12-26
49998    2016-07-15
Name: date, Length: 49999, dtype: object

### Convert to JSON

In [19]:
for f in os.listdir():
    
    ## Clean csv
    
    csv = pd.read_csv(f)
    csv = csv.drop(columns=['url', 'Unnamed: 0', 'year', 'month'])
    csv['author'] = csv['author'].fillna('Unknown')
    csv['title'] = csv['title'].fillna('Unnamed')
    csv = csv.dropna(subset=['date'])
    
    #print(csv.info(), "\n\n")
    
    json_name = f.replace(".csv", ".json")
    
    csv.to_json(json_name, orient='records')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 49999
Data columns (total 6 columns):
id             50000 non-null int64
title          50000 non-null object
publication    50000 non-null object
author         50000 non-null object
date           50000 non-null object
content        50000 non-null object
dtypes: int64(1), object(5)
memory usage: 2.7+ MB
None


<class 'pandas.core.frame.DataFrame'>
Int64Index: 47373 entries, 0 to 49998
Data columns (total 6 columns):
id             47373 non-null int64
title          47373 non-null object
publication    47373 non-null object
author         47373 non-null object
date           47373 non-null object
content        47373 non-null object
dtypes: int64(1), object(5)
memory usage: 2.5+ MB
None


<class 'pandas.core.frame.DataFrame'>
Int64Index: 42556 entries, 0 to 42570
Data columns (total 6 columns):
id             42556 non-null int64
title          42556 non-null object
publication    42556 non-null object
author         42556 non-null object
date           42556 non-null object
content        42556 non-null object
dtypes: int64(1), object(5)
memory usage: 2.3+ MB
None